/* body CSS */

* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: 100% auto;
  }
  
  h1,
  h2 {
    color: #50d7f8;
    background-color: #000;
    text-align:center;
    border: 2px solid #50d7f8;
  }
  
  
  /* User bookmark CSS */
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
  li {
    border: 2px solid #50d7f8;
    margin: 0.5em;
    padding: 0.5em;
    background-color:black;
  }
  
  
  /* Form CSS */
  
  textarea,
  select,
  option,
  input,
  button {
    border: 2px solid #50d7f8;
    border-radius: 25px;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    color: inherit;
    margin: 15px;
    background-color: black;
    color: #50d7f8
  }
  
  button {
    border: 2px solid #50d7f8;
    background-color: #000;
    color: #50d7f8
  }
  
  select {
    font-family: sans-serif;
    height: 2em;
  }
  
  select option {
    font-size: 1.2em;
    color: #50d7f8;
    background-color: black;
    border: 2px solid #50d7f8;
  }
  
  .rating-filter-label{
    font-size: 1.2em;
    color: #000;
  }

  .form-box {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    color: #50d7f8;  
    background-color: black;
    border: 1px solid #50d7f8;  
  }
  
  button,
  input[type="text"] {
    padding: 10px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  span {
    padding-bottom: 25px;
  }
  
  
  /* Book mark CSS */
  
  a {
    color: #33e459;  
  }
  
  #bookmark-item {
    width: 250px;
  }
  
  .bookmarked-pages {
    padding-bottom: 25px;      
    color: #50d7f8;
  }
  
  .bookmarked-star-rating {
    color: #50d7f8;
  }
  
  .description-container {
    color: #50d7f8;  
  }
  
  .errorContainer {
    color: red;
    font-size: 2em;
  }
  
  #cancel-error {
    margin-right: 10px;
  }
  
  
  /* For screens with a wider view */
  @media (min-width:600px) {
    
    h1 {
      text-align:center;
    }
    
    .bookmark-container {
      max-width: 750px;
      margin:auto;
    }
    
    .form-box {
      max-width:750px;
      margin:auto;
    }
  
  }
  
  